.nav123Bar{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 60px;
    margin-bottom: 25px;
    width: 100vw;
    position: sticky;
    top: 0;
}
#dark .nav123Bar{
    background-color: var(--secondary-background);
}
#light .nav123Bar{
    background-color: var(--primary-background);
}
.nav123ActionsContainer{
    width: 20%;
    display: flex;
    align-items: center;
    font-size: 22px;
    column-gap: 25px;
}
.nav123Logo{
    width: 20%;
}
.nav123SearchContainer{
    width: 40%;
    display: flex;
    align-items: center;
}
.nav123SearchContainer input{
    margin: 0 auto;
    width: 80%;
    height: 30px;
}

#dark .nav123SearchContainer input{
    background-color: #292929;
    border: none;
    color: white;
}

.nav123Logo img{
    height: 25px;
}

.nav123SearchBar{
    width: 100%;
}
.nav123SearchMobile{
    display: none;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

.nav123SearchBarMobile{
    width: 80%;
}

.nav123SearchBarMobile input{
    margin: 0 auto;
    width: 100%;
    height: 30px;
}

@media only screen and (max-width: 600px) {
    .nav123SearchBar{
        display: none;
    }
    .nav13SearchBar, .nav123Logo, .nav123ActionsContainer{
        width: auto;
    }
    .nav123Logo{
        padding: 0 10px;
    }
    .nav123ActionsContainer{
        padding-right: 5px;
        column-gap: 10px;
    }
    .nav123SearchMobile{
        display: flex;
        
    }

  }