
:root{
  --primary-background : #f8f8f8;
  --accent : rgb(0, 206, 130) ;
  --primary-text : black;
  --secondary-text : white;
  --secondary-background: rgb(21, 21, 21)
}

.App{
  background-color: var(--primary-background);
  min-height: 100vh;
}

#light{
  background-color: var(--primary-background);
}

#dark{
  background-color: var(--secondary-background);
  color: var(--secondary-text);
}

#light a{
  color: #000;
  text-decoration: none;
  cursor: pointer;
  font-weight: 800;
}

#dark a{
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  font-weight: 800;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
